{% extends "base.html" %}

{% block content %}

<h2 class="recipe-header text-center">Recipes</h2>


<div class="container recipes-container">
    <div class="row ">
{% for recipe in recipes %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card ">
            <img class="card-img-top" src="{{ recipe.image }}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ recipe.recipe_title }}</h4>
                <h6 class="card-author">By: {{ recipe.author }}</h6>
                <p class="card-text">{{ recipe.recipe_story }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('recipe', recipe_id=recipe._id) }} " class="btn btn-primary">View recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
    

   

{% endblock %}