{% extends "base.html" %}

{%block content%}

<h2 class="recipe-header text-center">Recipes</h2>

{% for recipe in recipes %}

<div class="row recipe-cards">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.recipe_title }}</h5>
                    <p class="card-text recipe-author">{{  recipe.author_name }}</p>
                    <p class="card-text recipe-story">{{  recipe.recipe_story }}</p>
                    <p class="card-text date-posted"><small class="text-muted">{{ recipe.date_posted }}</small></p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('recipe') }}" class="btn btn-primary">View recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock%}