{% extends "base.html" %}

{% block content %}

<h2 class="recipe-header text-center">Recipes</h2>

{% for recipe in recipes %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{ recipe.image }}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ recipe.recipe_title }}</h4>
                <p class="card-text">{{ recipe.recipe_story }}</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">View recipe</a>
            </div>
        </div>
    </div>

    
{% endfor %}
   

{% endblock %}