{% extends "base.html" %}

{%block content%}


<div class="text-center col-md-8 offset-md-2">
    <div class=" container">
        {% if session["existing_user"] == recipe.author %}
        <div class="row delete-recipe">
            <div class="delete-message alert">
                <h3 class="section-heading text-uppercase" style="color: #FF0800;" >Are you sure you want to delete the following recipe?</h3>
                <P>Once recipe is deleted, it can't be restored!</P>
            </div>
            <form method="post" action="">
                {{ form.csrf_token }}
            <div class="form-floating">
                {{  form.delete_recipe(class="btn delete-btn btn-primary") }}
            </div>
            </form>
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="btn  btn-primary btn-md text-uppercase" type="button" id="button-cancel">Cancel</a>
        </div>
        {% endif %}
        <!-- Image field -->
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="img-fluid">
        <row class="recipe-header">
            <!-- Recipe title field -->
        <h3 class="text-center section-heading">{{ recipe.recipe_title }}</h3>
        <!-- Recipe author field -->
        <h5 class="text-center section-heading">Posted by: {{ recipe.author }}</h5>
        <!-- Recipe Story field -->
        <P class="recipe-story text-muted">{{ recipe.recipe_story }}</P>
        </row>    
        <div class="container">

            <!-- Ingredients field -->
            <h5 class="section-heading">Ingredients:</h5>
            <p class="text-muted">{{ recipe.ingredients}}</p>
            
             <!-- Steps field -->
            <h5 class="section-heading">Steps:</h5>
            <p class="text-muted">{{ recipe.steps }}</p>
        </div>  
    </div>
</div>


{% endblock %}