    {% extends "base.html" %}
    {% block content %}

            
            <!-- Recipe collections-->
            <section class="page-section" id="services">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Recipes by Category</h2>
                        <h3 class="section-subheading text-muted">Let's get inspired!</h3>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <span class="category-icons">
                                <img class="rounded-circle  img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684239/3rd%20project/brooke-lark-nTZOILVZuOg-unsplash_wamaua.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Breakfast</h4>
                            <p class="text-muted">Great breakfast ideas for weekend feasting and indulgent or quick weekday morning, from delicious pancakes to healthy smoothies. </p>
                        </div>
                        <div class="col-md-3">
                            <span class="category-icons">
                                
                                <img class="rounded-circle  img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684611/3rd%20project/aurelia-dubois-zvDsKI3Q94c-unsplash_ykargz.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Main meals</h4>
                            <p class="text-muted">Make-ahead lunches to tasty dinners, we've got you covered. Take a look at these delicious recipes for inspiration, and find that perfect dish here. </p>
                        </div>
                        <div class="col-md-3">
                            <span class="category-icons">
                                
                                <img class="rounded-circle  img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684989/3rd%20project/sara-cervera-FAnSK-gVGZU-unsplash_wslbgh.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Snaks</h4>
                            <p class="text-muted">Feeling peckish between meals, fancy an afternoon treat or need to make a birthday cake? You will find your perfect recipe here, either if you have sweet tooth or more like a savoury person! </p>
                        </div>
                        <div class="col-md-3">
                            <span class="category-icons">
                                
                                <img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618685198/3rd%20project/k8-dt5-8tThZKg-unsplash_hq6zn7.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Keto</h4>
                            <p class="text-muted">Heavenly lowcarb recipes from breakfast trough main meals and snaks. Find your perfect recipe without worring of your waste size.</p>
                        </div>
                    </div>
                </div>
            </section>
           
            <!-- About-->
            <section class="page-section" id="about">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">About</h2>
                        <h3 class="section-subheading text-muted">Join our amazing homecook community</h3>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687039/3rd%20project/pinar-mavi-vhOdQexbs6k-unsplash_ky4ibt.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Eat your rainbow</h4>
                                    
                                </div>
                                <div class="timeline-body"><p class="text-muted">Search trough our amazing veggie recipes and find the best for dish for your taste!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618695665/3rd%20project/marc-babin-aQWmCH_b3MU-unsplash_dgwf3m.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Register</h4>
                                    
                                </div>
                                <div class="timeline-body"><p class="text-muted">Be part of our great community and share your meatfree recipes with others!</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687397/3rd%20project/jan-sedivy-3HE3B4r-A08-unsplash_hjnr1c.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Keto recipes</h4>
                                    
                                </div>
                                <div class="timeline-body"><p class="text-muted">Being veggie is sometimes challenging enough, especially when ypou are on the keto diet. We bring you the best recipes to get back in shape just right before the summer. Or upload yor favorite keto meal! </p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687307/3rd%20project/sincerely-media-rmfYcfs2Oq8-unsplash_li7aj6.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Have fun!</h4>
                                    
                                </div>
                                <div class="timeline-body"><p class="text-muted">Hope you have just as much fun as all of us here, making these deliciouse recipes. If you have any stories or remarks to share please contact us below!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br />
                                    Of Our
                                    <br />
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
           
           
            
    {% endblock %}
    
        