    {% extends "base.html" %}
    {% block content %}

            
            <!-- Services-->
            <section class="page-section" id="services">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Services</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                <img class="img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684239/3rd%20project/brooke-lark-nTZOILVZuOg-unsplash_wamaua.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Breakfast</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                
                                <img class="img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684611/3rd%20project/aurelia-dubois-zvDsKI3Q94c-unsplash_ykargz.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Main meals</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                
                                <img class="img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618684989/3rd%20project/sara-cervera-FAnSK-gVGZU-unsplash_wslbgh.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Snaks</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                
                                <img class="img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618685198/3rd%20project/k8-dt5-8tThZKg-unsplash_hq6zn7.jpg" alt="" />
                            </span>
                            <h4 class="my-3">Keto</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                    </div>
                </div>
            </section>
           
            <!-- About-->
            <section class="page-section" id="about">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">About</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687039/3rd%20project/pinar-mavi-vhOdQexbs6k-unsplash_ky4ibt.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618695665/3rd%20project/marc-babin-aQWmCH_b3MU-unsplash_dgwf3m.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687397/3rd%20project/jan-sedivy-3HE3B4r-A08-unsplash_hjnr1c.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1618687307/3rd%20project/sincerely-media-rmfYcfs2Oq8-unsplash_li7aj6.jpg" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br />
                                    Of Our
                                    <br />
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
           
           
            
    {% endblock %}
    
        