{% extends "base.html" %}
{% block content %}
<!-- Sign in header -->
<h3 class="text-center section-heading text-uppercase">Sign In</h3>
<!-- Sign in card with tab for sign in and register url -->
<div class="card form-card text-center col-md-8 offset-md-2" method="POST" action="{{  url_for('login')  }}">
    <div class="form-container container">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('register')  }}">Register</a>
                </li>
            </ul>
        </div>
        <!-- Login body-->
        <div class="card-body">
            <form method="post" action="">
                {{ form.csrf_token }}
                <!-- Login username field -->
                <div class="form-floating mb-3">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-md") }}
                     {% for error in form.username.errors %}
                    <p style="color: crimson;">{{ error }}</p>
                    {% endfor %}
                </div>
                <!-- Login password field -->
                <div class="form-floating mb-3">
                    {{  form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-md") }}
                     {% for error in form.password.errors %}
                    <p style="color: crimson;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-check">
                    {{ form.remember_user(class="form-check-input") }}
                    {{  form.remember_user.label(class="form-check-label") }}
                </div>
                <!-- Login button -->
                <div class="form-floating">
                    {{  form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}