{% extends "base.html" %}

{%block content%}


<div class="text-center col-8 offset-2">
    <div class=" container">
        <!-- Image field -->
        <img src="{{ recipe.image }}" alt="" class="rounded-circle">
        <row class="recipe-header">
            <!-- Recipe title field -->
        <h3 class="text-center">{{ recipe.recipe_title }}</h3>
        <!-- Recipe Story field -->
        <P class="recipe-story">{{ recipe.recipe_story }}</P>
        </row>    
        <div class="container">

            <!-- Ingredients field -->
            <p>{{ recipe.ingredients}}</p>
            
            <!-- Steps field -->
            <p>{{ recipe.steps }}</p>
        </div>  
        
    </div>
</div>


{% endblock %}