{% extends "base.html" %}

{%block content%}


<div class="container col-xl-6 offset-xl-3">
    <div class="row recipe-row">
        <!-- If recipe's author in session display dlete and edit button on the top-->
        {% if session["existing_user"] == recipe.author %}
        <div class="edit-section">
            <a href="{{  url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">Edit Recipe</a>
            <a href="{{  url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-danger">Delete Recipe</a>
        </div>
        {% endif %}
        <div class="card">
            <!-- Image field -->
            <div class="card-img recipe-card-image">
                <img class="card-img-top" src="{{ recipe.image }}" alt="{{ recipe.title }}" class="img-fluid">
            </div>
            <div class="card-header">
                <!-- Recipe title field -->
                <h3 class="section-heading">{{ recipe.recipe_title }}</h3>
                <!-- Recipe author field -->
                <h5 class="section-heading">Posted by: {{ recipe.author }}</h5>
                <!-- Recipe Story field -->
                <P class="recipe-story text-muted">{{ recipe.recipe_story }}</P>
            </div>
            <div class="card-body">

                <!-- Ingredients field -->
                <h5 class="section-heading">Ingredients:</h5>
                <ul class="ingredints-list">
                    {% for ingredient in recipe.ingredients.split(",") %}
                    <li class="text-muted">{{ingredient}}</li>
                    {% endfor %}
                </ul>
                <!-- Steps field -->
                <h5 class="section-heading">Steps:</h5>
                <p class="text-muted">{{ recipe.steps }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}


