{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Register</h3>

<div class="card text-center col-8 offset-2" method="POST" action="{{  url_for('register')  }}">
    <div class="form-container container">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link " aria-current="true" href="{{  url_for('login')  }}">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Register</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="registerUsername" name="registerUsername" placeholder="Username">
  <label for="registerUsername">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="regisetrPassword" name="regisetrPassword" placeholder="Password">
  <label for="regisetrPassword">Password</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="reenterPassword" placeholder="Reenetr Password">
  <label for="reenterPassword" >Password</label>
</div>
    <a href="#" class="btn btn-primary">Register</a>
  </div>
</div>
</div>
            

{% endblock %}